* {
  margin: 0;
  padding: 0;
}

/* max-width */
.width-size {
  max-width: 1340px;
  margin: 0 auto;
}
/* shear style */
.display-flex {
  display: flex;
}

.font {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 3rem;
}

/* navbar styles */
.nav-container {
  justify-content: space-between;
  margin-top: 15px;
}

.navbar-logo a {
  text-decoration: none;
  color: #355e3b;
  padding: 0 40px;
}
.logo-text {
  font-size: 0.6rem;
  font-family: "Great Vibes", cursive;
  font-size: 1.1rem;
}

/*nav-item  */
.nav-item-container {
  display: flex;
  gap: 20px;
}

.nav-item {
  list-style: none;
}

.nav-item .nav-link {
  text-decoration: none;
  color: #8987a1;
}

#nav-item-link {
  color: #252432;
}
#shopping-cart {
  color: #000000;
}

/* banner styles */
.banner-container {
  margin-top: 200px;
  align-items: center;
  flex: 1;
}
.banner-text {
  flex: 1;
}

.banner-title {
  font-size: 4.06rem;
  font-weight: bold;
}
.title-text-one {
  color: #000000;
}
.title-text-two {
  color: #e95a08;
}

.banner-description {
  font-size: 1.37rem;
  padding-right: 40px;
  color: rgba(0, 0, 0, 0.5);
}
.banner-image {
  width: 100%;
  flex: 1;
}

/*Our plants */
.plants {
  text-align: center;
  margin-top: 120px;
}
.plants-title {
  font-weight: bold;
  font-size: 3.125rem;
}
.plants-description {
  margin-bottom: 30px;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 290px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-image {
  width: 100%;
}

.card-title {
  margin-top: 30px;
  font-size: 1.37rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 20px;
}

.card-price {
  font-weight: bold;
  font-size: 1.37rem;
  color: #111111;
  margin-bottom: 20px;
}
.btn {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 10px 50px;
  width: 100%;
  border: none;
}

/* flower-plants-container */

.flower-plants-container {
  margin-top: 210px;
  gap: 60px;
}

.flower-store {
  flex: 1;
  height: 550px;
  width: 540px;
  position: relative;
}

.flower-store-badeg {
  height: 286px;
  width: 286px;
  position: absolute;
  left: 530px;
  transform: translate(-0%, -50%);
}

.flower-plants-title {
  font-weight: bold;
  font-size: 3.125rem;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 38px;
  padding-right: 300px;
}
.flower-plants-list-item {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding-right: 300px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .nav-container {
    gap: 20px;
  }
  .nav-item-container .nav-item .hide-on-mobile {
    display: none;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    padding-right: 150px;
  }
  .banner-text {
    margin-left: 15px;
  }
  .banner-description {
    padding: 0px;
    font-size: 0.9rem;
  }

  /* card-responsive */
  .plants-description {
    padding: 0px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
