* {
  margin: 0;
  padding: 0;
}

/* max-width */
.width-size {
  max-width: 1340px;
  margin: 0 auto;
}
/* shear style */
.display-flex {
  display: flex;
}

/* logo font */
.font {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 3rem;
}
.footer-font {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
}

/* navbar styles */
.nav-container {
  justify-content: space-between;
  margin-top: 15px;
}

.navbar-logo a {
  text-decoration: none;
  color: #355e3b;
  padding: 0 40px;
}
.logo-text {
  font-size: 0.6rem;
  font-family: "Great Vibes", cursive;
  font-size: 1.1rem;
}

/*nav-item  */
.nav-item-container {
  display: flex;
  gap: 20px;
}

.nav-item {
  list-style: none;
}

.nav-item .nav-link {
  text-decoration: none;
  color: #8987a1;
}

#nav-item-link {
  color: #252432;
}
#shopping-cart {
  color: #000000;
}

/* banner styles */
.banner-container {
  margin-top: 200px;
  align-items: center;
  flex: 1;
}
.banner-text {
  flex: 1;
}

.banner-title {
  font-size: 4.06rem;
  font-weight: bold;
}
.title-text-one {
  color: #000000;
}
.title-text-two {
  color: #e95a08;
}

.banner-description {
  font-size: 1.37rem;
  padding-right: 40px;
  color: rgba(0, 0, 0, 0.5);
}
.banner-image {
  width: 100%;
  flex: 1;
}

/*Our plants */
.plants {
  text-align: center;
  margin-top: 120px;
}
.plants-title {
  font-weight: bold;
  font-size: 3.125rem;
}
.plants-description {
  margin-bottom: 30px;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 290px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-image {
  width: 100%;
}

.card-title {
  margin-top: 30px;
  font-size: 1.37rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 20px;
}

.card-price {
  font-weight: bold;
  font-size: 1.37rem;
  color: #111111;
  margin-bottom: 20px;
}
.btn {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 10px 50px;
  width: 100%;
  border: none;
}

/* flower-plants-container */

.flower-plants-container {
  margin-top: 210px;
  gap: 60px;
}

.flower-store {
  flex: 1;
  height: 550px;
  width: 540px;
  position: relative;
}

.flower-store-badeg {
  height: 286px;
  width: 286px;
  position: absolute;
  left: 43%;
  transform: translate(-70%, -50%);
}

.flower-plants-title {
  font-weight: bold;
  font-size: 3.125rem;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 38px;
  padding-right: 300px;
}
.flower-plants-list-item {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding-right: 300px;
}

/* latest deals */
.deals {
  margin-top: 130px;
  text-align: center;
}

.deals-title {
  font-weight: bold;
  font-size: 3.125rem;
}
.deals-description {
  font-size: 1.375rem;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 290px;
}

/* Latest Deals-images */
.latest-container {
  display: flex;
  gap: 28px;
  margin-top: 120px;
  margin-left: 50px;
}
.latest-container-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.latest-container .latest-container-item .plants-images {
  flex: 1;
}

.latest-item {
  position: relative;
}
.plants-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plants-images {
  width: 100%;
  border-radius: 14px;
  filter: brightness(60%);
}
.plants-text-title {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
.btn-shop {
  background: none;
  text-decoration: underline 2px solid white;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  border: none;
}
.right-text-title {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}
.btn-right {
  background: none;
  text-decoration: underline 2px solid white;
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
  border: none;
}

/* colorful-bunch */
.colorful-bunch {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorful-bunch-container {
  text-align: center;
}
.colorful-bunch-title {
  font-weight: bold;
  font-size: 3.125rem;
  color: white;
}
.colorful-bunch-email {
  width: 600px;
  height: 30px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  border: none;
}
.colorful-bunch-btn {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 21px 50px;
  border: none;
  position: absolute;
}
.btn-email-container {
  position: relative;
}

/* footer-section-styles */
.footer-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 10px;
}
.footer-about .footer-logo {
  text-decoration: none;
}
.footer-maintext {
  color: #355e3b;
}

.footer-subtext {
  font-size: 18px;
  font-weight: 400;
  color: #444;
}

.footer-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}
.footer-menu .item-list {
  list-style: none;
  text-align: left;
  margin-bottom: 32px;
}
.item-list .list-links {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
  font-size: 0.9rem;
  font-weight: 400;
}

.footer-resources {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.resources-menu .resources-menu-item {
  list-style: none;
  margin-bottom: 32px;
}

.resources-menu-item .resources-menu-links {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}
.footer-icon {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer-icon-images {
  height: 30px;
  width: 30px;
}
#twitter-icon {
  width: 19;
  height: 18;
}

/* responsive */
@media screen and (max-width: 576px) {
  .nav-container {
    gap: 20px;
    align-items: center;
  }
  .navbar-logo {
    padding-left: 20px;
  }
  .nav-item-container .nav-item .hide-on-mobile {
    display: none;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    padding-right: 150px;
  }
  .banner-text {
    margin-left: 15px;
  }
  .banner-description {
    padding: 0px;
    font-size: 0.9rem;
  }

  /* card-responsive */
  .plants-description {
    padding: 0px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
  }
  /* flower-plants-container */
  .flower-plants-container {
    flex-direction: column;
  }
  .flower-plants-title {
    padding: 0px 15px;
    text-align: center;
  }
  .flower-plants-list-item {
    padding: 0px 15px;
    text-align: center;
  }
  .flower-store {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
  }
  .flower-store-badeg {
    display: none;
  }
  .flower-plants-list .flower-plants-list-item {
    list-style: disc;
    list-style-position: inside;
  }

  /* latest deals */
  .deals-description {
    padding: 0px;
    padding-left: 5px;
  }
  .latest-container {
    flex-direction: column;
  }
  .right-text-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .btn-right {
    font-weight: 600;
    font-size: 1rem;
  }

  /* colorful branch */
  .colorful-bunch {
    width: 100%;
    height: 220px;
    gap: 20px;
    padding-left: 35px;
  }
  .colorful-bunch-title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .colorful-bunch-container {
    margin-right: 90px;
  }
  .colorful-bunch-email {
    width: 150px;
  }
  .colorful-bunch-btn {
    padding: 21px 15px;
  }
  .btn-email-container {
    padding-right: 100px;
    margin-top: 10px;
  }
  /* footer */
  .footer-container {
    flex-direction: column;
  }
  .footer-about {
    padding-left: 35px;
  }
  .footer-menu {
    padding-left: 35px;
    text-align: left;
  }
  .footer-resources,
  .footer-icon {
    padding-left: 35px;
  }
}
